.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
  margin: 5px;
  font-family: 'Lucida Grande';
}

#front {
  background-image: url(Images/tex2res4.png);
  border-radius: 5px;
  box-shadow: #999 0 0 3px 3px;
}

#navbar {
  display: block;
  padding: 3px;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

#navbar > a {
  float: left;
  padding: 3px 6px;
}

.navtext:hover {
  color: rgb(255, 102, 0);
}

.navtextSelected {
  background-color: #666;
  border-radius: 5px;
  box-shadow: #333 0 0 3px 3px inset;
}

.flip {
  width: 13px;
  height: 13px;
  float: right;
  cursor: pointer;
}

#flip {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    background-image: url(file:///System/Library/WidgetResources/ibutton/white_i.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: transparent;
    z-index: 8000;
    background-position: 0% 0%;
}

#fliprollie {
    display: none;
    opacity: 0.25;
    background-image: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: transparent;
    z-index: 7999;
    background-position: 0% 0%;
}

#flip:hover #fliprollie {
  display: block;
}

#front:hover #flip {
  opacity: 1;
}

#statusbar {
    float: right;
    margin-right: 5px;
    font: normal normal normal 12px/normal 'Lucida Grande';
    font-weight: normal;
    color: white;
}

/***************/
/* Widget Back */
/***************/
#back {
  display: none;
  width: 360px;
  height: 250px;
  background-image: url(Images/tex2res4.png);
  border-radius: 5px;
  box-shadow: #999 0 0 3px 3px;
}

#backcontents {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 250px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#backtitle {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}


#backcopyright {
    font-size: 12px;
}

#remoteServerInput {
    height: 50px;
}

.leftoptions {
    display: block;
    position: fixed;
    top: 80px;
    left: 40px;
}

.rightoptions {
    display: block;
    position: fixed;
    top: 80px;
    left: 160px;
}

div#content {
    overflow: scroll;
}

.row {
    position: relative;
    width: 100%;
    height: 24px;
}

.light {
    background-color: rgba(255, 255, 255, 0.1);
}

.title {
    position: absolute;
    font-family: verdana, sans-serif;
    color: #fff;
    font-size: 12px;
    top: 4px;
    left: 11px;
    width: 80%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}

.state {
    position: absolute;
    font: normal normal normal 9px/normal 'Lucida Grande';
    font-weight: normal;
    color: rgb(66, 81, 100);
    text-align: right;
    top: 4px;
    right: 5px;
    width: 25px;
    cursor: pointer;
}

.variable {
    position: absolute;
    font: normal normal normal 9px/normal 'Lucida Grande';
    font-weight: normal;
    color: rgb(66, 81, 100);
    text-align: right;
    display: inline-block;
    top: 4px;
    right: 40px;
    width: 35px;
}

span.state {
    display: none;
    font: normal normal normal 9px/normal 'Lucida Grande';
    font-weight: normal;
    color: rgb(66, 81, 100);
    text-align: right;
}

/*************************
 * Device/variable icons *
 *************************/
.devicetrue {
    background-image: url(Images/device_on.png);
    background-repeat: no-repeat;
    height: 17px;
}

.devicefalse {
    background-image: url(Images/device_off.png);
    background-repeat: no-repeat;
    height: 17px;
}

.bulbtrue {
    background-image: url(Images/bulb_on.png);
    background-repeat: no-repeat;
    height: 17px;
}

.bulbfalse {
    background-image: url(Images/bulb_off.png);
    background-repeat: no-repeat;
    height: 17px;
}

.title:hover {
    color: rgb(255, 102, 0);
    text-decoration: none;
    cursor: pointer;
}

.slider {
    position: absolute;
    font: normal normal normal 9px/normal 'Lucida Grande';
    font-weight: normal;
    color: rgb(66, 81, 100);
    text-align: left;
    display: inline-block;
    top: 4px;
    right: 70px;
    //	width:40px;
}

.slider_input {
    width: 80px;
}

.slider_value {
    position: absolute;
    text-align: right;
    right: -30px;
    padding-left: 5px;
    margin-bottom: 0px;
    color: #fff;
}

#line {
    position: absolute;
    width: 354px;
    height: 1px;
    left: 9px;
    top: 204px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(102, 0, 102);
    display: none;
}

/**************************
 * Dimmable device slider *
 **************************/
#done {
    position: absolute;
    top: 79px;
    left: 278px;
}
